{% for category in categories %}
    {% set articleCount = category.articles_count().count %}
    <li class="dropdown {% if category.slug == currentCategorySlug %}active{% endif %}">
      <a href="{{ category.url }}">{{ category.name }}</a>

        {% if category.children|length > 0 %}
            <ul class="dropdown-menu">
                {% partial __SELF__ ~ "::menuitems"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
{% endfor %}

